/*
 Theme Name:   Twenty Fifteen Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     pin-wp
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/

/* #950e2e */

html body{
    font-family: 'Playfair Display', serif;
    color: #9896A4666;
}

/*Site title*/
h2.site-title{
    font-size: 80px;
    text-align: left;
    font-family: 'Zeyada', cursive;
    margin-top: 50px;
    margin-left: 20px;
    font-weight: 100;
}
.site-subtitle{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10px;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


img.logo {
    margin-top: 13px;
    margin-left: 80.2px;
}

.main-header {
height: auto;
}

.main-header #searchform2 {
    float: none;
    width: 506px;
    display: inline-block;
    margin-top: 13px;
    display: none;
    margin-left: 12px;

}
.main-header #searchform2 #s {
    border: 1px solid #c1cfda;
    border-radius: 0;
    width: 343px;
    background: url(images/btn_search.png) 12px 8px no-repeat;
    padding: 0 12px 0 42px;
    height: 38px;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    float: right;
}

.widget_search #searchform2.header-search .buttonicon{
    background-color: #9896A4 !important;
}

.widget_search #searchform2.header-search #s{
    font-weight: 100;
    padding: 2px 15px 0 15px;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 801px){
    .main-header #searchform2 {
        display: inline-block;
    }

}
@media (min-width: 1020px){
    .main-header #searchform2 {
        width: 600px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .main-header #searchform2 #s{
        width: 437px;

    }

}

.sticky-on {
    text-align: center;
    top: -159px;
    transition: all 0.7s ease-out;
    width: 100%;
}

@media (max-width: 1020px){
    .stickytop{
            height: 170px !important;
        }
    header .stickytop #searchform2 {
    margin-top: -5px;
      }
}
header div.stickytop .wrap-center, header div.sticky-on.stickytop  .wrap-center{
	background: rgba(149, 14, 46, 0.9);
}
header div.stickytop .wrap-center, header div.sticky-on .wrap-center{
    width: 100% !important;
    background: rgba(149, 14, 46, 1);
}
.main-header input.buttonicon {
    text-indent: 0;
    width: 800px;
}

/*.main-header #searchform2 .buttonicon,
header .stickytop #searchform2 .buttonicon
{
    width: 101px;
    border-radius: 0;
    /*border: 1px solid #dd3333;*/
   /* height: 34px;
    background-image: none;
    color: white;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #667 !important;
    border: 1px solid #667;
    color: #fff;
    font-family: 'Lato', sans-serif;
}*/

header .stickytop #searchform2 .buttonicon{
	height: 34px;
}

.underline-detail:after {
    background-color: #9896A4 ;
    display: block;
    content: "";
    width: 30px;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.wrap-content ul.masonry_list li {
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    padding: 12px;
}


.btn-st {
    display: block;
    height: 2.2em;
    background: #950e2e;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: white !important;
    line-height: 32px;
    font-size: 15px;
    font-weight: normal;
}
.btn-st:hover {
    background-color: #9896A4;;
    color: white !important;
}

.single .btn-st{
    line-height: 41px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    text-transform: uppercase;
    background: #950e2e;
    border: 3px solid #950e2e;
}

.single .btn-st:hover{
    background-color: #fff;
    color: #9896A4 !important;
    border: 3px solid #9896A4;
}
.single .product-price{
    color: #9896A4;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

ul.masonry_list .btn-st
{
    margin: 17px 10px 10px 10px;
}
.price span{
    font-size: 18px;
    color: #9896A4;
    font-weight: bold;
}
.price .old-price {
    text-decoration: line-through;
}
.price .sale-price {
    color:#950e2e;
    margin-left: 10px;
}

/**
 * Single page
 */

.entry-top h1.article-title{
    color: #9896A4;
    font-weight: 100;
}

.media-product-page{
	width: 100%;
}
.media-product-details{
	width: 100%;
}
.media-product-details-inner{
	padding: 8px;
	line-height: 1.7em;
}

.single .media-product-details-inner p{
    text-align: left;
    font-size: 18px;
}

@media(min-width: 801px){
	.media-product-page{
		width: 50%;
		float: left;
	}
	.media-product-details{
		width: 50%;
		float: left;
	}
	.media-product-details-inner{
		padding: 80px;
	}
}

#single-share a.fbbutton, #single-share a.twbutton, #single-share a.pinbutton, #single-share a.googlebutton, #single-share a.emailbutton{
    background-color: #9896A4;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 10px;
}

/**
 * End single page
 */

.product-price {
	font-size: 1.4em;
	line-height: 1em;
	margin-bottom: 42px;
	line-height: 1.8em;
}

.product-shipping {
	font-size: 19px;
	margin: 30px 0;
	text-align: center;
    color: #664;
    text-transform: uppercase;
}

.btn-product-buy{
	margin-top: 22px;
}

.product-price .sale-price {
	color:#950e2e;
}

.single-content {
	box-shadow: none;
}
#single-share{
	margin-bottom: 14px !important;
}


.ct-size {
    display: inline-block;
    margin-bottom: 70px;
}

.product-categories{
	color: #9896A4;
}

.text-center{
	text-align: center;
}

.ct-size a{
	font-size: 20px;
}

.ct-size a:hover{
    color: #333 !important;
}
.wrap-content .masonry_list  li:hover{
	box-shadow: 0 0 7px rgba(0,0,0,0.9);
}

div.single-content {
    box-shadow: none;
}

header .stickytop .logo {
	height: auto;
}

header div.stickytop {
	background-color: transparent;
}

.menu-categories {
    margin: 0;
}

.menu-categories .jquerycssmenu {
    margin: 0;
}
header .stickytop .jquerycssmenu{
	margin: 0;
}
header .stickytop.sticky-on{

    transition: top 0.7s ease-out;
}

.featured-articles .title-box span {
	text-shadow: 0 0 2px rgba(255,255,255,0.5);

}
.featured-articles .title-box .regular-price{
	color: white;
    font-size: 15px;
}
.featured-articles .title-box .old-price{
	color: white;
	text-decoration: line-through;
    font-size: 15px;
}
.featured-articles .title-box .sale-price{
	color:#950e2e;
	margin-left: 4px;
    font-size: 15px;
}


.featured-articles .title-box{
	position: absolute;
	bottom: 0;
	width: 200px;
	height: 90px;
	padding-top: 30px;
}

.featured-articles .title-box h2 a{
    font-weight: 100;
}

.featured-articles .title-box h2 a:hover{
    color: #ccc !important;
}

li.post-slide{
    height: 100%;
}

ul.featured-articles-slider li img {
    height: auto;
}

img.logo {
	float: none;
	margin: 0;
}
.featured-articles-slider, .random-articles-slider {
	height: 280px;
}


.featured-title {
	background-color: transparent !important;
    width: 100%;
    margin-top: -105px;
}

.featured-title h3{
    display: none;
}

.slide-nav{
    float: none;
    text-align: center;
}

#slider-prev, #slider-prev2{
    float:left;
    margin-left: 10px;
    margin-top: 100px;
}

#slider-next, #slider-next2{
    float: right;
    margin-right: 10px;
    margin-top: 100px;
}

#slider-prev2, #slider-next2{
    margin-top: 200px;
}

#slider-prev a, #slider-next a, #slider-prev2 a, #slider-next2 a, #slider-prev3 a, #slider-next3 a{
    color: #9896A4 !important;
}

.bx-wrapper{
    margin-top: 20px;
    max-width: 100% !important;
}

ul.masonry_list li p {
    padding: 0;
    font-size: 14px;
    color: #333 !important;
}

p.price {
    margin-bottom: 12px;
    line-height: 1em;
}

/*Related posts*/

.rpbt_shortcode ul.article_list{
    display: inline-block;
    margin-top: 18px;
    padding-left: 1.7%;
}

.rpbt_shortcode ul.article_list li{
    height: 300px;
    display: block;
    padding: 15px 0;
    width: 30%;
    float: left;
    margin-right: 3%;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    margin-bottom: 25px;
    position: relative;
}

.rpbt_shortcode ul.article_list li:hover{
    box-shadow: 0 0 7px rgba(0,0,0,0.9);
}

.rpbt_shortcode p.price{text-align: center;}

.round-search{
    display: none;
}
.rpbt_shortcode ul.article_list li:hover .round-search, .rpbt_shortcode ul.article_list li .round-search:hover{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background: #9896A4;
    z-index: 999;
    top: -250%;
    left: 41%;
    border-radius: 50%;
    opacity: 0.8;
}

.rpbt_shortcode ul.article_list li .round-search:hover{
    z-index: 1001;
}

.fa.fa-eye{
    color: white;
    font-size: 25px;
    position: relative;
    top: 13px;
    left: 1px;
}

.rpbt_shortcode ul.article_list li:hover h4 a, .rpbt_shortcode h4 a:hover{
   color: #333 !important;
}

.rpbt_shortcode h3.rpbt_title.title{
    font-size: 14px;
    padding: 3px 3px 2px;
}

.rpbt_shortcode h4.article-title{
    font-size: 16px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 10px;
    font-weight: 300;
}

.rpbt_shortcode h4 a{
    position: relative;
    width: 100%;
    display: inline-block;
    height: 50px;
}

.rpbt_shortcode ul.article_list li img{
    float: none;
    width: auto;
    max-width: 100%;
    height: 200px;
    display: block;
    margin: 8px auto;
}

.img-border{
    width: 100%;
    margin-top: -90px;
    border-bottom: 1px solid #dddddd;
}

#back-top span{
    background-color: #9896A4 !important;
}

.title-overflow{
    height: 50px;
    overflow: hidden;
    position: relative;
    z-index: 1000;
}

@media (max-width: 769px){
    .rpbt_shortcode ul.article_list li{
        width: 46%;
        overflow: hidden;
    }
    .rpbt_shortcode ul.article_list li img{
        left: 0px;
        top: -230px;
    }
}

@media (max-width: 570px){
    .rpbt_shortcode ul.article_list li img{
         left: 0px;
    }

}

@media (max-width: 480px){
    /*Site title*/
    h2.site-title{
        font-size: 55px;
    }
    .site-subtitle{
        font-size: 11px;
        margin-left: 25px;
        margin-top: -5px;
    }

    .rpbt_shortcode ul.article_list{
        padding-left: 0px;
    }

   .rpbt_shortcode ul.article_list li{
        width: 99%;
       margin-right: 0px;

   }

    .rpbt_shortcode h4.article-title{
        padding: 10px;
        margin-top: 0px;
        height: auto;
    }

    .img-border{
        margin-top: -65px;
    }
    .title-overflow{
        height: 30px;
    }
}

/*Small content*/
ul.masonry_list .an-widget-title h2 a{
    color: #333;
}
ul.masonry_list .an-widget-title h2 a:hover{
    color: #333 !important;
}

/*Responsive menu title*/
body #responsive-menu #responsive-menu-title{
    font-family: 'Zeyada', cursive;
    margin-top: 25px;
}
body #responsive-menu .responsive-menu li a:first-child{
    border-top: 0px !important;
}
#responsive-menu #responsiveSearchInput{
    font-family: 'Lato', sans-serif;
}

#click-menu{
    background-color: #9896A4 !important;
}

/*Page from live*/

.page .entry h1.page-title{
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    border: 0px;
}

.page .entry p{
    font-size: 18px;
    text-align: justify;
    line-height: 29px;
    font-family: 'Playfair Display', serif;
}

.page .entry p a img{
    display: block;
    margin: 0 auto;
}
.small{
    font-size: 12px;
}

/*Red banner*/
.red-banner{
    width: 100%;
    display: block;
    margin-top: 20px;
}
.red-banner img{
    display: block;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px){
   .red-banner{
    margin-top: 0px;
}
    .red-banner img{
        width: auto;
    }
}

/*Widget*/
.sidebar-left .widget, .sidebar .widget{
    width: 300px !important;
    padding: 0 5px 20px 12px;
}

/*Load more button*/

#infscr-loading{
    width: 36px;
    height: 36px;
    overflow: hidden;
    border: 1px solid #667;
    border-radius: 3px;
    margin-top: 3px;
    padding-bottom: 2px;
    padding-right: 4px;
}
#infscr-loading img{
    margin: 0px;
}

/*404 page*/
#mcTagMap .tagindex h4, #mcTagMap .tagindex .links li a:hover{
    color: #9896A4 !important;
    border-bottom: 5px solid #9896A4 !important;
}

/*Mailchimp start*/

.wdpu-text{
    text-align: center;
    width: 100%;
    background: url(./images/emailpopup.gif) no-repeat;
    background-size: cover;
}

.mc_embed_signup{
    width: 630px;
    margin: auto;
    display: inline-block;
    margin-top: 350px;
    margin-bottom: 20px;
}
.mc_embed_signup .email{
    border: 1px solid #eee;
    padding: 12px;
    width: 80%;
    font-size: 1.4em;
    font-weight: 100;
    float: left;
    box-sizing: border-box;
    height: 48px;
}
.mc_embed_signup .button{
    border: 1px solid #9896A4;
    padding: 12px;
    font-size: 22px;
    line-height: 22px;
    color: #9896A4;
    width: 20%;
    float: left;
    box-sizing: border-box;
    height: 48px;
}
/** end mailchimp **/
.wdpu-msg .no-move-x a.wdpu-close.no-title:before{
    top: -12px !important;
    right: -12px !important;
    background: #000 !important;
    color: #fff !important;
    border: 3px solid #fff !important;
}
/*Mailchimp all the time*/
.mailchimp-single{
    border: 1px solid #9896A4;
    margin-bottom: 40px;
    background: url(./images/heeladdict-emailsingle-15122015.gif) no-repeat;
    background-size: 100% 273px;
    /*background: #000;*/
}
.mailchimp-single .mc_embed_signup{
    margin: 20px auto 20px auto;
    display: block;
}
.mailchimp-single .mc_embed_signup .email{
    border: 1px solid #9896A4;
    color: #9896A4;
    height: 45px;
}
.mailchimp-single .mc_embed_signup .button{
    background: #9896A4;
    height: 45px;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    line-height: 19px;
}
.mailchimp-single p{
    margin-bottom: 10px;
    color: #333;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
.mailchimp-single span{
    font-weight: bold;
}
.wdpu-container{
    z-index: 1000001 !important;
}
.wdpu-close.no-title, .wdpu-close.no-title:hover{
    position: absolute !important;
    top: -12px !important;
    right: -12px !important;
    width: 30px !important;
    height: 30px !important;
    text-decoration: none !important;
    opacity: .9 !important;
    background: transparent url(http://heeladdict.com/wp-content/plugins/popover/css/tpl/cabriolet/img/close.png) no-repeat !important;
    color: transparent !important;
}
@media screen and (max-width: 769px){
    .mc_embed_signup{
        width: 80%;
    }
    .mc_embed_signup .email, .mc_embed_signup .button{
        font-size: 14px !important;
        padding: 12px 5px;
    }
    .mailchimp-single p{
        font-size: 18px;
    }
}
@media screen and (max-width: 480px){
   .mailchimp-single{
    display: none;
   }
}

/*Single content between 1003px and 1000px*/

@media screen and (max-width: 1003px) and (min-width: 1000px){
    .single-content{padding-left: 20px;}
}
/*Home banner*/
.banner-wrap{
   background-color: #fa08e0;
   margin-bottom: 20px;
   height: 250px;
   position: relative;
   z-index: -1;
}
.banner-home{
    width: 969px;
    margin: 0 auto;
}
/*Shortcut*/
.shortcut{
    display: block;
    width: 100%;
    min-height: 300px;
    margin-bottom: 32px;
}

.shortcut-child{
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right:auto;
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
@media (min-width: 700px){

	.shortcut-child{
		width: 32%;
		margin-left: 2%;
		float: left;
	}
	.shortcut-child:first-child{
		margin-left: 0;
	}
}
.shortcut-child img{
    width: 100%;
    height: auto;
    background: black;
    display: block;
    margin: 0 auto;
}
.shortcut-child h3{
    margin: -25px auto 0 auto;
    padding: 10px 0px;
    background: white;
    text-align: center;
    width: 80%;
    position: relative;
    font-size: 25px;
    font-weight: 300;
}
.shortcut-child p{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px;
    text-align: center;
    font-size: 17px;
    border-bottom: 1px solid black;
}
.shortcut-child p:hover{
    color: #9896A4;
}
.shortcut-child a:last-child p{
    border: 0px;
}
h1.designer-clothes{
    color: #333;
    font-size: 30px;
    margin: 32px 0;
    font-weight: 100;
}

/*Secondary menu*/
.downarrowclass{
    display: none;
}
.jquerycssmenu .sub-menu{
    border: 0px;
}
.jquerycssmenu .sub-menu:hover{
    background: #fff;
}
.jquerycssmenu .sub-menu li.menu-item a:hover{
    color: #9896A4;
    background: #eee;
}
.jquerycssmenu .sub-menu li.menu-item a{
    color: #9896A4;
    text-align: center;
    font-size: 15px;
}
.wrap-content-inner{
	float: left;
	width: 100%;
}
.sticky-filter.on .search-form{
 	box-shadow: 0 0 5px rgba(0,0,0,0.5);
 	border: none;
 }
@media (min-width: 1000px)
{
	.sticky-filter.on .search-form {
		top: 30px;
	}
}

body{
    background-color: #f6f5f2 !important;
}
.menu-categories .jquerycssmenu li{
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
	font-family: Lato, Arial;
	font-size: 1.15em;
}

h1, h2, h3, h4, h5, h6{
	font-family: Lato, Arial;
	font-weight: 600;
}
.filter-amount{
	width: 120px;	
}
.search-form-placeholder {
	background: url(../pin-wp-child/images/dropdown.png) no-repeat right center white;
	margin-right: 12px;
	color: #333;
}

.search-form-price .ui-slider{
	box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
	background: #white;
	height: 8px;

}
.search-form-price .ui-slider-range{
	background: #950e2e;
}
.search-form-price .ui-slider-horizontal .ui-slider-handle{

	border-radius: 30px;
	margin-top: -1px;

}
.search-form-select{
	background: white;
	border: 1px solid #333;
}
.search-form-inner{
	background: white;
	color: #333;
}
@media (min-width: 1000px) {
    .sticky-filter.on .search-form {
    	background: white;
    }
    .sticky-filter.on .search-form .filter-range{
    	color: #333;
    }
}
.media-product{
	margin-bottom: 28px;
}
.no-results{
	text-align: center;
	width: 100%;
	margin: 20px 0;
	font-size: 18px;
}